<!--
  ~ Copyright (c) 2014-2016 University of Ulm
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  Licensed under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<configuration>

    <appender name="APPFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/lance.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>${user.home}/lance-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%level] from %logger in %thread -
                %message%n%xException
            </pattern>
        </encoder>
    </appender>

    <appender name="RMI" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/rmi.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 50MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Daily rollover with compression -->
            <fileNamePattern>${user.home}/rmi-log--%i-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%level] from %logger in %thread -
                %message%n%xException
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%level] from %logger in %thread -
                %message%n%xException
            </pattern>
        </encoder>
    </appender>

    <logger name="de.uniulm.omi.cloudiator.lance" level="DEBUG"/>

    <logger name="sun.rmi" level="FINER" additivity="false">
        <appender-ref ref="RMI"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="APPFILE"/>
    </root>

</configuration>
